button {

}

.root {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  all: unset;

  width: 16px;
  height: 16px;

  border: 2px solid var(--color-accent-500);
  border-radius: 50%;
}

/*
.RadioGroupRoot {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.RadioGroupItem {
  width: 25px;
  height: 25px;

  background-color: white;
  border-radius: 100%;
  box-shadow: 0 2px 10px black;

  &:hover {
    background-color: violet;
  }

  &:focus {
      box-shadow: 0 0 0 2px black;

  }
}

.RadioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &::after {
    content: '';

    display: block;

    width: 11px;
    height: 11px;

    background-color: var(--violet-11);
    border-radius: 50%;
  }
}

.Label {
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
  color: white;
} */
