button {
  all: unset;
}

.label {
  cursor: pointer;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &:disabled {
    cursor: initial;
    color: var(--color-dark-100);
    background-color: var(--color-light-700);
    border-color: var(--color-dark-100);
  }

  &:hover:not([data-disabled], [data-state='checked']) {
    background-color: var(--color-dark-500);
  }

  &:hover:not([data-disabled])::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    box-shadow: 0 0 0 9px var(--color-dark-500);
  }

  &:disabled:not([data-state='checked']) {
    background-color: var(--color-dark-900);
  }

  &:focus-within:not([data-state='checked']) {
    background-color: var(--color-dark-100);
  }

  &:focus-within:not([data-state='checked'])::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    box-shadow: 0 0 0 9px var(--color-dark-100);
  }

  span {
    width: 18px;
    height: 18px;
  }
}

.buttonWrapper {
  display: flex;
  gap: 11px;
  align-items: center;
  width: fit-content;

  &.disabled {
    cursor: initial;
  }
}
