button {
  all: unset;
}

.label {
  color: var(--color-dark-100)
}

.SelectTrigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 300px;
  margin: 0;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;

  }

  &[data-highlighted]:hover  {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
  }

  &:focus-visible {
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

 &:hover:enabled {
   background-color: var(--color-dark-500);
 }

    span {
      margin-left: 12px ;
    }

    svg {
      width: 16px;
      height: 16px;
      margin: 12px 10px;
    }



}

.PaginationSelectTrigger{
  width: auto;
  height: 24px;
  margin: 0 9px 0 6px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);

  svg {
    width: 16px;
    height: 16px;
    margin: 4px 2px;
  }
}

.SelectContent {
  cursor: pointer;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  background-color:var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-radius: 0 0 2px 2px;

  span {
    margin: 12px 10px;
  }
}

.PaginationSelectContent{
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top: none;
}

.SelectItem {
  cursor: pointer;
  padding: 6px 0;

  &[data-highlighted]{
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: none;
  }
}

.PaginationSelectItem {
  width: auto;
  height: 24px;
  padding:0;
}

.SelectIcon{
  margin: 0;
  padding: 0;
}