button {
  all: unset;
}

.label {
  cursor: pointer;
  color: var(--color-dark-100);
}

.selectTrigger {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[data-state='open'] {
    border-radius: 2px 2px 0 0;
  }

  &[data-highlighted]:hover {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
  }

  &:focus-visible {
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &:hover:enabled {
    background-color: var(--color-dark-500);
  }

  span {
    margin-left: 12px;
  }
}

.paginationSelectTrigger {
  width: 50px;
  height: 24px;
  margin: 0 9px 0 6px;

  font-size: 14px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);

  span {
    margin-left: 6px;
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 4px;
  }
}

.selectContent {
  cursor: pointer;

  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;

  background-color: var(--color-dark-900);
  border: 1px solid var(--color-dark-300);
  border-top: none;
  border-radius: 0 0 2px 2px;

  span {
    margin: 12px 10px;
  }
}

.paginationSelectContent {
  font-size: 14px;
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-top: none;

  span {
    margin: 6px 5px;
  }
}

.selectItem {
  cursor: pointer;
  padding: 6px 0;

  &[data-highlighted] {
    color: var(--color-accent-300);
    background-color: var(--color-accent-900);
    outline: transparent;
  }
}

.paginationSelectItem {
  width: auto;
  height: 24px;
  padding: 0;
}

@keyframes rotate-down {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-up {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.selectIcon {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  [data-state='open'] & {
    animation: rotate-down 0.2s linear forwards;
  }

  [data-state='closed'] & {
    animation: rotate-up 0.2s linear forwards;
  }
}
