.root {
  width: 420px;
  padding: 33px 36px 41px;
}

.rootEditMode {
  padding-bottom: 84px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 27px;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.name {
  color: var(--color-light-100);
}

.email {
  margin-bottom: 13px;
  color: var(--color-dark-100);
}

.textFieldWrapper {
  width: 100%;
  margin-bottom: 36px;
}

.nameButton {
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 0;

  svg {
    width: 16px;
    height: 16px;
  }
}

.nameWrapper {
  display: flex;
  gap: 9px;
  align-items: center;
}

.avatarWrapper {
  position: relative;
}

.avatarWrapperEditMode {
  margin-bottom: 12px;
}

.avatarWrapperNotEditMode {
  margin-bottom: 6px;
}

.avatarButton {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 6px;
}

.fileLoader {
  display: none;
}

.formWrapper {
  width: 100%;
}

.imageError {
  margin-top: 200px;
  color: var(--color-warning-300);
}

.avatar {
  display: block;
}
