.root {
  border-collapse: collapse;

  width: 100%;

  color: var(--color-light-100);

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-500);
}

.headCell {
  font-weight: var(--font-weight-bold);
}

.cell {
  height: 100%;
  padding: 6px 24px;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  text-align: left;

  svg {
    width: 16px;
    height: 16px;
  }
}

.data {
  background-color: var(--color-dark-900);
}

.row {
  border-bottom: 1px solid var(--color-dark-500);

  &:last-child {
    border-bottom: none;
  }
}
