.root {
  display: inline-flex;

}

.small {
  width: 36px;
  height: 36px;
}

.image {
  border-radius: 50%;
}

.large {
  width: 96px;
  height: 96px;
}

.fallback {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #3e187a;
  background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
  border-radius: 50%;
}
