.paginationWrapp {
  display: flex;
  align-items: center;
  height: auto;

  &:first-child {
    margin-right: 0;
  }

  &:last-child {
    margin-left: 0;
  }
}

.navigateButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin: 0 6px;

  background-color: var(--color-dark-900);
  border: none;

  svg {
    width: 16px;
    height: 16px;
  }

  &:first-child {
    width: 16px;
    height: 16px;
    margin: 0 6px 0 0;
  }

  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
  }

  &:link {
    text-decoration: none;
  }

  &:visited {
    color: var(--color-light-100);
  }
}

.navigateLastButton {
  width: 16px;
  height: 16px;
  margin: 0 25px 0 6px;
}

.navigateButton.defaultButton.active {
  color: var(--color-dark-900);
  background-color: var(--color-light-100);
  border-radius: 2px;
}

.paginationWrapp .disabledLink {
  pointer-events: none;
  opacity: 0.5;
}

.paginationWrapp .notALink {
  pointer-events: none;
}
