.button {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;


  border-radius: 4px;

  transition: 0.2s;

  svg {
    width: 16px;
    height: 16px;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover:enabled {
    background-color: var(--color-accent-300);
  }

  &:active:enabled {
    background-color: var(--color-accent-700);
  }
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover:enabled {
    background-color: var(--color-dark-100);
  }

  &:active:enabled {
    background-color: var(--color-dark-500);
  }
}

.tertiary {
  color: var(--color-accent-500);
  background-color: var(--color-dark-900);
  border: 1px solid rgb(140 97 255 / 100%);

  &:hover:enabled {
    background-color: var(--color-dark-500);
    border: 1px solid rgb(112 78 204 / 100%)
  }

  &:active:enabled {
    background-color: var(--color-accent-900);
    border: 1px solid rgb(112 78 204 / 100%)
  }


}

.link {
  padding: 0;
  color: var(--color-accent-500);
  background-color: transparent;

  &:visited {
    color: var(--color-accent-500);
    background-color: transparent;
    border-radius: 20px;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }


  &:hover:enabled {
    color: var(--color-accent-300);
  }

  &:active:enabled {
    color: var(--color-accent-700);
  }


}

.fullWidth {
  width: 100%;
  padding: 6px 0;
}