@mixin button {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.root {
  position: relative;
  width: 100%;

  .label {
    cursor: pointer;
    color: var(--color-dark-100);
  }

  .error {
    cursor: pointer;
    color: red;
  }

  .wrapper {
    position: relative;
    display: flex;
    width: 284px;
    height: 36px;





    .input {
      cursor: initial;

      display: flex;

      width: 100%;
      height: 100%;
      padding: 6px 12px;

      color: var(--color-light-100);

      background-color: transparent;
      border: 1px solid var(--color-dark-300);
      border-radius: 2px;

      &:hover {
        background-color: var(--color-dark-700);
      }

      &:focus-visible {
        border: 1px solid var(--color-info-500);
        outline: 1px solid var(--color-info-500);
      }

      &:active:not(&:disabled) {
        border-color: var(--color-light-100);
        outline: none;

        &::placeholder {
          color: var(--color-light-100);
        }
      }
    }

    input[type='search'] {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        appearance: none;
      }
    }



    .searchButton {
      @include button;

      color: var(--color-dark-100);

      svg {
        width: 20px;
        height: 20px;
      }

    &:hover .input {
        background-color: var(--color-dark-700);
      }

    }

    .inputError {
      color: red;
      border: 1px solid red;
    }

    .cancelButton {
      @include button;

      top: 0;
      right: 0;
    display: none;
      color: var(--color-dark-100);

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .showCancelButton {
      display: inline-flex;
    }

    .passwordButton {
      @include button;

    top: 0;
      right: 0;

      svg {
        width: 20px;
        height: 20px;
      }

    }

    &:active .searchButton,
    &:active:not(:disabled) .cancelButton{
      display: inline-flex;
      color: var(--color-light-100);
    }

    .search {
      padding: 6px 12px 6px 41px;
    }
  }



  .disabled {
    cursor: initial;
    opacity: 0.5;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background: linear-gradient(top,  rgb(255 255 255 / 0%) 0%,rgb(0 174 255 / 4%) 50%,rgb(255 255 255 / 0%) 51%,rgb(0 174 255 / 3%) 100%);
    border: 0;
    box-shadow: 0 0 0 1000px transparent inset;

    transition: background-color 5000s ease-in-out 0s;

    -webkit-text-fill-color: #1f1f20;
  }


}





