.button {
  cursor: pointer;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  padding: 0;

  background-color: transparent;
  border: none;

  &:disabled {
    cursor: default;
    color: var(--color-dark-300);
  }
}

.root {
  position: relative;
  width: 100%;

  .label {
    cursor: pointer;
    color: var(--color-dark-100);
  }

  .error {
    cursor: pointer;
    color: var(--color-danger-300);
  }

  .wrapper {
    position: relative;
    display: flex;
    height: 36px;

    .input {
      cursor: initial;

      display: flex;

      width: 100%;
      height: 100%;
      padding: 6px 12px;

      color: var(--color-light-100);

      background-color: transparent;
      border: 1px solid var(--color-dark-300);
      border-radius: 2px;

      &:focus-visible {
        border: 1px solid var(--color-info-500);
        outline: 1px solid var(--color-info-500);
      }

      &:disabled {
        cursor: default;
        color: var(--color-dark-300);

        &::placeholder {
          color: var(--color-dark-300);
        }
      }

      &:not(:disabled):hover {
        background-color: var(--color-dark-700);
      }

      &:active:not(&:disabled) {
        border-color: var(--color-light-100);
        outline: transparent;

        &::placeholder {
          color: var(--color-light-100);
        }
      }
    }

    .hoverForInput {
      background-color: var(--color-dark-700);
    }

    input[type='search'] {
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        appearance: none;
      }
    }

    .searchButton {
      color: var(--color-dark-100);

      svg {
        transform: translateX(4px);
        width: 20px;
        height: 20px;
      }
    }

    .inputError {
      color: var(--color-danger-300);
      border: 1px solid var(--color-danger-300);

      &::placeholder {
        color: var(--color-danger-300);
      }
    }

    .cancelButton {
      top: 0;
      right: 0;
      display: none;
      color: var(--color-dark-100);

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .showCancelButton {
      display: inline-flex;
    }

    .passwordButton {
      top: 0;
      right: 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .search {
      padding: 6px 12px 6px 41px;
    }

    &:active .searchButton:not(:disabled),
    &:active .cancelButton:not(:disabled) {
      display: inline-flex;
      color: var(--color-light-100);
    }
  }

  .disabled {
    cursor: default;
    color: var(--color-dark-300);
  }

  // Для того, чтобы ваши поля не были стандартного цвета, при выборе из списка ранее вводимых значений, нужно добавить:
  // где вместо transparent можно указать любой цвет.

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    background: linear-gradient(
      top,
      rgb(255 255 255 / 0%) 0%,
      rgb(0 174 255 / 4%) 50%,
      rgb(255 255 255 / 0%) 51%,
      rgb(0 174 255 / 3%) 100%
    );
    border: 1px solid var(--color-dark-300);
    box-shadow: 0 0 0 1000px var(--color-dark-700) inset;

    transition: background-color 99999999999s ease-in-out 0s;

    -webkit-text-fill-color: var(--color-light-100);
  }
}
