.root {
  width: 420px;
  padding: 33px 36px 60px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 51px;
}

.wrapper {
  width: 100%;
  margin-bottom: 19px;
}

.instructions {
  margin-bottom: 41px;
  color: var(--color-light-900);
  word-wrap: break-word;
  opacity: 0.5;
}


