.root {
  width: 420px;
  padding: 33px 36px 29px;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  margin-bottom: 60px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signInButton {
  margin-bottom: 20px;
}

.buttonSubTitle {
  margin-bottom: 11px;
  color: var(--color-light-900);
}
