.trigger {
  cursor: pointer;

}

.arrow {
  position: absolute;
top: -4px;
  left: 1.5px;
transform: rotate(45deg);

  width: 9px;
  height: 9px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
border-top: none;
  border-left: none;

  fill:var(--color-dark-700) ;
}

.content {
  position: relative;
  left: 6px;

  margin-top: 12px;
  padding: 12px;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500) ;
  border-radius: 4px;
}

.item {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 6px;
  align-items: center;

  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  outline: transparent;


  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: var(--color-dark-500);
    border-radius: 1px;;
    box-shadow: 0 0 0 6px var(--color-dark-500);
  }

}

.separator {
  height: 1px;
  margin: 12px 0;
  background-color: var(--color-dark-500);
}