.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deckImage {
  width: 170px;
  height: 107px;
  margin-bottom: 25px;
  object-fit: cover;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 33px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.deckName {
  margin-bottom: 27px;
}

.column {
  display: flex;
  flex-direction: column;
}

.rightColumn {
  margin-top: 60px;
}

.textFieldWrapper {
  width: 100%;
  margin-bottom: 24px;
}
