.cardImage {
  width: 118px;
  height: 48px;
  object-fit: cover;
}

.cellWithImage {
  display: flex;
  flex-direction: column;
}

.textFieldWrapper {
  width: 100%;
  margin-bottom: 24px;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.linkBack {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 33px;

  svg {
    width: 16px;
    height: 16px;
  }
}

.deckName {
  margin-bottom: 27px;
}

.deckButton {
  align-self: flex-end;
}
