.root {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: fit-content;
}

.label {
  color: var(--color-light-900)
}

.trigger {
  all: unset;

  cursor: pointer;

  position: relative;

  padding: 6px 24px;

  border-top: 1px solid var(--color-dark-300);
  border-right: none;
  border-bottom: 1px solid var(--color-dark-300);
  border-left: 1px solid var(--color-dark-300);

  &:first-child {
    border-radius: 2px 0 0 2px;
  }

  &:last-child
  {
    border-right: 1px solid var(--color-dark-300);
    border-radius: 0 2px 2px 0;
  }



  &[data-state='active'] {
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
  }

  &:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

  &:focus-visible {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &[data-state='active']:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

  &:disabled + &[data-state='active']{
    color: var(--color-light-100);
    background-color: var(--color-accent-500);
    border: 1px solid var(--color-accent-500);
  }

  &[data-state='active']:first-child:disabled {
    border-right: 1px solid var(--color-dark-300);
  }

  &[data-state='active']:first-child:disabled:hover {
    cursor: default;

    color: var(--color-dark-300);

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
    border-right: none;
  }

  &:disabled {
    cursor: default;

    color: var(--color-dark-300);

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
    border-right: none;
  }



  &:disabled:hover {
    cursor: default;

    color: var(--color-dark-300);

    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-300);
    border-right: none;
  }



  &:last-child:disabled {
    border-right: 1px solid var(--color-dark-300);
    border-radius: 0 2px 2px 0;
  }

  button + &:disabled:hover{
    border-right: 1px solid var(--color-dark-300);
  }



  &[data-state='active'] + &:disabled {
    border-left: none;
  }

  &[data-state='active'] + &:hover {
    border-left: none;
  }

  &:disabled + &:disabled:hover {
    border-right: 1px solid var(--color-dark-300);
  }



  &:first-child:disabled:hover + &:disabled {
    border-left: 1px solid var(--color-dark-300);
  }

  &[data-state='active'] + button,
  &:hover + button{
    border-left: none;
  }

  &:first-child:disabled:hover + button {
    border-left: 1px solid var(--color-dark-300);
  }
  

  &:disabled:hover + &[data-active='active'] {
    padding-left: 1px;
    border-left: none;
  }





  &:disabled + &[data-state='active']:focus-visible {
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-info-500);
    outline: 1px solid var(--color-info-500);
  }

  &:disabled + &[data-state='active']:hover {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border: 1px solid var(--color-dark-100);
  }

 &:disabled:hover + &[data-state='active'] {
   padding-left: 23px;

 }

  &:focus-visible + &:disabled::after {
    content: '';

    position: absolute;
    top: -5%;
    left: 0;
    transform: translateY(1%);

    display: block;

    width: 1px;
    height: 39px;

    border-left: 1px solid var(--color-info-500);
  }

  &:focus-visible + button::after {
    content: '';

    position: absolute;
    top: -5%;
    left: 0;
    transform: translateY(1%);

    display: block;

    width: 1px;
    height: 39px;

    border-left: 1px solid var(--color-info-500);
  }

  &:disabled:hover + &[data-state='active']::after {
   content: '';

    position: absolute;
    top: -3%;
    left: 0;
    transform: translateX(-100%);

    display: block;

    width: 1px;
    height: 38px;

    border-left: 2px solid var(--color-accent-500);
 }

  &:disabled:hover + &[data-state='active']:last-child::after {
   content: '';

    position: absolute;
    top: -3%;
    left: 0;
    transform: translateX(-95%);

    display: block;

    width: 1px;
    height: 38px;

    border-left: 2px solid var(--color-accent-500)
 }
}

